body {
    background-color: rebeccapurple ;
    background-image: url(start.jpg);
    background-repeat-y:no-repeat;
    background-attachment:fixed;
    color: azure;
}

body* {
    font-family: auto, serif;
}
h2,h3,h4,h5{
    font-weight:normal;

}
p{
    margin:auto;
}

a,a:hover,visited{
    color:azure;
    text-decoration:none;
}
